[submodule "kicad-oled-ssd1306-128x64"]
	path = kicad-oled-ssd1306-128x64
	url = https://github.com/the-this-pointer/kicad-oled-ssd1306-128x64
[submodule "kicad-oled-ssd1306-128x32"]
	path = kicad-oled-ssd1306-128x32
	url = https://github.com/the-this-pointer/kicad-oled-ssd1306-128x32
[submodule "kicad-rf-esp8266"]
	path = kicad-rf-esp8266
	url = https://github.com/the-this-pointer/kicad-rf-esp8266
[submodule "kicad-connector-pinheader-female-3d"]
	path = kicad-connector-pinheader-female-3d
	url = https://github.com/the-this-pointer/kicad-connector-pinheader-female-3d.git
[submodule "kicad-modules"]
	path = kicad-modules
	url = https://github.com/the-this-pointer/kicad-modules
[submodule "kicad-rf-esp32"]
	path = kicad-rf-esp32
	url = https://github.com/the-this-pointer/kicad-rf-esp32
[submodule "kicad-custom-components-library"]
	path = kicad-custom-components-library
	url = https://github.com/the-this-pointer/kicad-custom-components-library.git
[submodule "kicad-sim800l"]
	path = kicad-sim800l
	url = https://github.com/the-this-pointer/kicad-sim800l.git
[submodule "kicad-connector-pinheader-male-3d"]
	path = kicad-connector-pinheader-male-3d
	url = https://github.com/the-this-pointer/kicad-connector-pinheader-male-3d.git
